.practical-experience {
  border: 4px solid #ffb24d;
  background-color: #fffaf0;
  text-align: center;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  width: 350px;
}
h2 {
  font-size: 30px;
  font-family: Dana Bold , peyda ;
}
.practical-experience input{
  display: block;
  border: 2px solid #ffe0a3;
  width: 80%;
  border-radius: 10px;
  padding: 8px;
  margin: 10px auto;
}
.practical-experience button{
  background-color: #fff9ed;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid  #ffe0a3;
}
.practical-experience button:hover{
  background-color: #ffe9d6;
}
